*{
    margin: 0;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: white;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("img/Fondo.jpg");
    background-size: cover;
    overflow-x: hidden;   
}

/* Header */
.header{
    position: sticky;
    width: 100%;
    top:0;
    z-index: 100;
}
.logo{
    position: absolute;
    left: 5vw;
    top: 2px;
}
.menu{
    background-color: rgb(13, 32, 47);
    height: 80px;
    border-bottom: 2px solid rgb(44, 135, 180);
    box-shadow: 0 5px 15px rgb(44, 135, 180), 0 0 30px white ;
}
.ul-menu{
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
    margin-right: 10vh;
    right: 0;
}
.link-menu{
    display: block;
    height: 80px;
    text-decoration: none;
    line-height: 80px;
    padding: 0 5px;
    transition: 0.3s;
}
.link-menu:hover{
    color: rgb(108, 192, 235);
}

/* Main */
.box{
    margin: 0 auto;
    min-height: 40vh;
    width: 90vw;
    padding: 100px 2vw 0px;
}

/* Introduccion */
.intro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.banner{
    position: relative;
    left: -6vw;
    top: -100px;
    width: 100vw;
    height: 30vh;
    grid-column: 1/-1;
    grid-row: 1;
}
.titulo{
    font-size: 4rem;
}
.inicio {
    grid-column: 1 / -2;
    grid-row: 2;
}
.redes{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.redes a{
    margin: 0 10px;
}
.perfil{
    text-align: center;
    grid-column: -2;
    grid-row: 2;
    margin: 0 auto;
}
.imgperfil{
    width: 50%;
    min-width: 180px;
    border-radius: 50%;
}
.datos-personales{
    grid-column: 3 / 4;
    grid-row: 3;
}
.subtitulo{
    font-size: 2rem;
    margin-bottom: 15px;
}

/* Acerca de mi */


/* Habilidades */
.skill-box{
    text-align: center;
}
.skill-box h3{
    font-size: 1.4rem;
}
.skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: 20px 0 30px;
}
.skill figure{
    border: solid 2px white;
    border-radius: 10%;
    padding: 10px;
    background-color: rgb(108, 192, 235);
    margin: 0 auto;
}
.skill figure figcaption{
    color: rgb(13, 32, 47);
}
.skill img{
    margin: 0 auto;
}

/* Formación */
.formations{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: rgb(13, 32, 47);
    margin: 0 auto;
}
.item-formation{
    text-align: center;
    border-radius: 30% ;
    width: 25%;
    padding: 20px;
    background-color: rgb(14, 1, 83);   
    border: solid 3px rgb(108, 192, 235);
    
}
.item-formation figcaption{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
}
.item-formation p,
.item-formation figcaption{
    color: white;
}

/* Formulario de contacto */
.contact{
    display: flex;
    flex-direction: column;
    
}
.contact input{
    height: 1.3rem;
    max-width: 500px;
    margin-bottom: 10px;
    color: black;
}
.contact textarea{
    margin-bottom: 10px;
    color: black;
}
.contact .submit{
    margin-bottom: 10vh;
    width: 300px;
    color: black;
}