*{
    margin: 0;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: white;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(black, darkblue); 
    overflow-x: hidden;    
}

/* Header */
.header{
    position: sticky;
    background-color: rgb(13, 32, 47);
    transition: all 0.5s;
    width: 100%;
    height: 90px;
    top:0;
    z-index: 100;
    border-bottom: 2px solid rgb(44, 135, 180);
    padding-top: 10px;
    box-shadow: 0 5px 15px rgb(44, 135, 180), 0 0 30px white ;
    overflow-y: hidden;
}

.logo{
    position: absolute;
    left: 5vw;
    top: 2px;
    margin-top: 10px;
}
.icon-menu{
    height: 80px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: none;
}
.ul-menu{
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
    margin-right: 10vh;
    right: 0;
}
.link-menu{
    display: block;
    height: 80px;
    text-decoration: none;
    line-height: 80px;
    padding: 0 5px;
    transition: 0.3s;
}
.link-menu:hover{
    color: rgb(108, 192, 235);
}

/* Main */
.box{
    margin: 0 auto;
    min-height: 40vh;
    width: 90vw;
    padding: 100px 2vw 0px;
}

/* Home */
.intro{
    display: grid;
    background: url("img/otros/Banner.webp");
    background-size: cover;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 70vh;
    width: 100vw;
}
.title{
    font-size: 4rem;
}
.home {
    grid-column: 1 / -2;
    grid-row: 2;
}
.networks{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.networks a{
    margin: 0 10px;
}
.networks a:hover{
    margin: 0 10px;
    transform: scale(1.2);
}
.profile{
    text-align: center;
    grid-column: -2;
    grid-row: 2;
    margin: 0 auto;
}
.imgprofile{
    width: 50%;
    min-width: 180px;
    border-radius: 50%;
}
.subtitle{
    font-size: 2rem;
    margin-bottom: 15px;
}

/* Acerca de mi */
.about i{
    font-size: 1.4rem;
    color: rgb(108, 192, 235);
}

/* Habilidades */
.skill-box{
    text-align: center;
}
.skill-box h3{
    font-size: 1.4rem;
}
.skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: 20px 0 30px;
}
.skill figure{
    border: solid 2px white;
    border-radius: 10%;
    padding: 10px;
    background-color: rgb(108, 192, 235);
    margin: 0 auto;
    transition: all .5s;
}
.skill figure figcaption{
    color: rgb(13, 32, 47);
}
.skill img{
    margin: 0 auto;
    transition: all 0.5s;
}
.skill-image:hover{
    transform: scale(1.2);
}

/* Formación */
.formations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    color: rgb(13, 32, 47);
    margin: 0 auto;
}
.item-formation{
    text-align: center;
    border-radius: 30% ;
    width: 25%;
    min-width: 240px;
    padding: 20px;
    background-color: rgb(14, 1, 83);   
    border: solid 3px rgb(108, 192, 235); 
}
.item-formation figcaption{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
}
.item-formation p,
.item-formation figcaption{
    color: white;
}

/* Proyectos */

.project{
    display: flex;
    flex-direction: row;
    margin: 50px auto 0;
    width: 80%;
    height: 50vh;
    min-height: 300px;
}
.project:nth-child(2n){
    flex-direction: row-reverse;
}
.figproject{
    width: 70%;
    
}
.imgproject{
    margin: auto;
    width: 90%;
}
.descrproject{
    width: 29%;
    height: 99%;
}
.descrproject h3{
    text-align: center;
    font-size: 1.3rem;
}
.descrproject p{
    margin: 5%;
}
.descrproject a{
    display: inline-block;
    margin: 5px;
    padding: 3px;
    transition: all 0.1s;
}
.descrproject a:hover{
    background-color: blue;
    color:white;
    border-radius: 10px;
    border: 2px solid white;
    transform: scale(1.1)
}

/* Formulario de contacto */
.contact{
    display: flex;
    flex-direction: column;
}
.messageError{
    list-style: none;
}
.messageError li{
    background-color: rgb(243, 191, 191);
    color: red;
    margin-bottom: 5px;
    border: 1px solid red;
}
.contact input{
    height: 1.3rem;
    max-width: 500px;
    margin-bottom: 10px;
    color: black;
}
.contact textarea{
    margin-bottom: 10px;
    color: black;
}
.contact .submit{
    margin-bottom: 10vh;
    width: 300px;
    color: black;
}

/* Pie de pagina */
.footer{
    color: white;
    text-align: center;
    border-top: 2px solid white;
    margin-bottom: 2rem;
}

/* Responsive */
@media (max-width:800px) {
    .header-responsive{
        height: 130px;
    }
    .icon-menu{
        display: block;
    }
    .ul-menu{
        position: absolute;
        top: 80px;
        left: 0;
    }
    .link-menu{
        height: 1.2rem;
    }

    .project{
        display: flex;
        flex-direction: column;
        margin: 50px auto 0;
        height: 50vh;
        min-height: 300px;
    }
    .figproject{
        width: 100%;
        display: flex;
    }
    .imgproject{
        height: 70%;
    }
    .descrproject{
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }
    .descrproject p{
        margin: 0 5%;
    }
    .project:nth-child(2n){
        flex-direction: column;
    }
}